[2014-04-25 14:27] bennofs opened #2 "Upload new version to hackage"
The latest hackage release (0.2.2) doesn't include the fix for newer versions of `cairo`. Could you please upload a new release?

[2014-05-02 07:39] #2 closed, assigned to nobody

[2014-05-16 10:33] ghc-mirror opened #3 "threadscope --help: openBinaryFile: does not exist (No such file or directory)"
**Original reporter**: _kowey_

Same with threadscope --version

[2014-05-16 10:33] #3 closed, assigned to ghc-mirror

[2014-05-16 10:33] ghc-mirror opened #4 "PDFs saved on Mac have a blue background"
**Original reporter**: _kowey_

Attached is an example TS PDF along with a random non-TS PDF with transparency,
plus screenshots.

[2014-05-16 10:33] ghc-mirror opened #5 "Regression: spark pool graph rendered wrongly when scrolling"
**Original reporter**: _MikolajKonarski_

Spark pool graph is rendered wrongly when scrolling slowly to the right, so that fragments of the curve are drawn (in a wrong way) on the leftmost part of the canvas.

Present in version from Sep 7 04:24:53, wasn't there some time before, I think.

[2014-05-16 10:33] ghc-mirror opened #6 "Threadscope fails to read partially written file"
**Original reporter**: _manpacket@<hidden>_

If ghc compiled program was launched with option to write eventlog and then was interrupted by Ctrl-C then eventlog file will be partially written.

Actual behaviour: Threadscope fails to read such file complaining "There was a problem loading the eventlog", "too few bytes. Failed reading at byte position 4194995"

Expecting behaviour: threadscope displ

[2014-05-16 10:33] ghc-mirror opened #7 "histogram drawing loops in poll.c"
**Original reporter**: _MikolajKonarski_

Always reproducible on my machine. Could somebody try on theirs? Caused probably by the patch "Put the vertical ruler in the middle of histogram, if only the number of bars even"

Instructions: open the eventlog from https://github.com/Mikolaj/threadscope-sparkgraph-demo/blob/master/parlist.eventlog
Now select the histogram tab ("Sparks"). CPU usage goes u

[2014-05-16 10:33] #7 closed, assigned to ghc-mirror

[2014-05-16 10:33] ghc-mirror opened #8 "malloc: pointer being freed was not allocated"
**Original reporter**: _kowey_

[code]

This is with
- a 64 bit machine
- running MacOS X 10.7
- with GHC 7.2.1
- threadscope 0.2.0
- gtk-0.12.1

[2014-05-16 10:33] ghc-mirror opened #9 ""there was a problem loading the eventlog""
**Original reporter**: _kowey_

I get sporadic failures loading eventlogs from runs of my program.  That is, run it once, and I will generate an eventlog that loads, run it another time, and I get one that fails to load.

The sort of errors I get look something like

[code]

This is with TS 0.2.1, ghc-events 0.3.1.0, programs built with GHC HEAD (7.3.20111118)

Note that TS itself is built with GH

[2014-05-16 10:33] #9 closed, assigned to ghc-mirror

[2014-05-16 10:33] ghc-mirror opened #10 "include spark sizes etc in ch8 test"
**Original reporter**: _kowey_

This would make a good wont-fix, but I was thinking it would be nice if people could play with all the bells and whistles on the sample trace.

[2014-05-16 10:33] ghc-mirror opened #11 "ensure that spark counts in histogram are visible"
**Original reporter**: _kowey_

When spark counts are printed for each histogram bucket, the black text on blue background can be difficult to read.

Perhaps white text should be used in those cases (keeping black text for when the bars are too small to fit the text in), or the text should systematically be placed above the bars.

[2014-05-16 10:33] #11 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #12 "put good spark things on the *bottom* of conversion/creation graphs"
**Original reporter**: _kowey_

Presumably we are most interested in seeing how much green we get.  It's hard to tell when they sit on top of a lot of grey or orange.  Maybe the green bits should go on on the bottom.

I suspect having the green be the base makes for a more honest picture.

(I'm having a slightly hard time articulating this at the moment, maybe it's just a passing notion... feel fr

[2014-05-16 10:34] #12 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #13 "An invalid eventlog is generated"
**Original reporter**: _MikolajKonarski_

See the eventlog sudoku3.eventlog.works.bz2 in #9 and the related discussion. Here's what Nicolas says:

[code]

[2014-05-16 10:34] #13 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #14 "weird spark creation/conversion graph"
**Original reporter**: _kowey_

Looks like one of my eventlogs causes a display error where lines are being drawn from the top-left corner of the screen.  I have to zoom in a couple of times and then enable the spark creation/conversion traces to this result.

This is the latest patch in my repository (no reordering)

Tue Nov 29 21:13:14 GMT 2011  Mikolaj Konarski mikolaj@well-typed.com
- Accept m

[2014-05-16 10:34] #14 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #15 "not enough space in left panel for trace expansion?"
**Original reporter**: _kowey_

Another possible wont-fix:

To my screen, the left panel is wide enough to display a list of traces with checkboxes.  If you expand any of the trace tree and then collapse it again, the checkboxes disappear, presumably because they are too far to the right.

Only reporting this because it can be easy to expand the traces by accident if you just click on them, for ex

[2014-05-16 10:34] ghc-mirror opened #16 "Redesign the UI using the general visual communication principles"
**Original reporter**: _MikolajKonarski_

Long term. Gather feedback, look at how easy it is to describe the UI in tutorials, discuss the various ideas from kowey's emails (Nov 20, 2011, Dec 1, 2011) and TODO (all IRC discussions are summarized there), study literature on visual communication (eg. Tufte), look at other libraries and programs. Then reshuffle the panes, draw the graphs differently,

[2014-05-16 10:34] ghc-mirror opened #17 "Toggling event labels does not resize canvas"
**Original reporter**: _MikolajKonarski_

In the result, in the starting view, some HECs vanish and cannot be recovered by scrolling.

[2014-05-16 10:34] ghc-mirror opened #18 "Simulate in TS the output of +RTS -s using (new) events"
**Original reporter**: _MikolajKonarski_

Some discussion is needed first, in particular new event are required.

[2014-05-16 10:34] #18 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #19 "Improve usability, especially the UI, based on use cases"
**Original reporter**: _MikolajKonarski_

This ticket is not about UI improved using the universal principles of visual communication, but about improvements based on down-to-earth analysis or imagining of use cases, user stories, (imagined) experiences with alternative UI mock-ups. etc. In other words, this is the broader question, with research, modelling => personas + scenarios => framework =>

[2014-05-16 10:34] ghc-mirror opened #20 "App locks up when histogram canvas too narrow"
**Original reporter**: _MikolajKonarski_

Ts 0.2.1: 100% CPU taken, TS does not respond to any keystrokes, mouse cursor stuck at the resize icon and clicking does not work anywhere on the desktop.

How to trigger this (completely reproducible for me): switch to the Spark sizes tab, resize the sidebar pane slowly (if fast, no problem occurs), when the histogram canvas is a few pixels wide, CPU usag

[2014-05-16 10:34] #20 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #21 "TS does not compile under Windows 7"
**Original reporter**: _MikolajKonarski_

Compiler complains that widgetSetCanFocus is out of scope.
Compiles OK with the occurence of widgetSetCanFocus removed.

Versions: gtk2hs is 0.12.2, TS is 0.2.1 and GTK is 2.24.8.

The problem may be due to conditional compilation in gtk2hs,
which for that particular GTK version may switch off the widgetSetCanFocus. Not verified in the code.

[2014-05-16 10:34] #21 closed, assigned to ghc-mirror

[2014-05-16 10:34] ghc-mirror opened #22 "TS crash under Windows 7"
**Original reporter**: _MikolajKonarski_

TS (with widgetSetCanFocus commented out, see #21) crashes under Windows 7 every time an eventlog is loaded.

Backtrace is:

[code]

Versions: Haskell Platform is 2011.4.0.0, gtk2hs is 0.12.2, TS is 0.2.1 and GTK is 2.24.8. Look system-specific and was not reproduced with any other GTK version or on any other system, hence the minor priority.

Gtk2hs was i

[2014-05-16 10:35] #22 closed, assigned to ghc-mirror

[2014-05-16 10:35] ghc-mirror opened #23 "Change the colour of labels drawn over dark green (e.g., thread numbers)"
**Original reporter**: _MikolajKonarski_

[code]

[2014-05-16 10:35] #23 closed, assigned to ghc-mirror

[2014-05-16 10:35] ghc-mirror opened #24 "Print big times using large time units to avoid too long labels"
**Original reporter**: _MikolajKonarski_

On very large eventlogs, the labels of histogram bars overwrite each other, because the numbers (spark lengths) grow too big. Extend and use the function that prints time in different units to handle large time values with large time units, that is kiloseconds and megaseconds, or perhaps minutes, hours, days, weeks, etc.

[2014-05-16 10:35] ghc-mirror opened #25 "Lag when loading an eventlog, if no mouse activity over the TS window"
**Original reporter**: _MikolajKonarski_

Quite often there is a lag of a few seconds when an eventlog loads. It may not be just speed of analyzing the new events, however, because clicking on the TS window seems to speed it up. It's also not consistent.

Some more tests:

Disabling the progress window and the forced evaluation of data does not affect the lag.

The lag is the same when loading an

[2014-05-16 10:35] #25 closed, assigned to ghc-mirror

[2014-05-16 10:35] ghc-mirror opened #26 "ThreadScope shows garbled characters when using Unicode characters in user event"
**Original reporter**: _shelarcy_

Debug.Trace.traceEventIO output Unicode characters by UTF-8 String.
- http://www.haskell.org/ghc/docs/7.4.1/html/libraries/base-4.5.0.0/Debug-Trace.html#v:traceEventIO

"ghc-events show" can show output Unicode characters' user event correctly.

[code]

[code]

[code]

But ThreadScope can't show Unicode characters' user event correctly. ThreadScope shows garbled

[2014-05-16 10:35] ghc-mirror opened #27 "Please add (again) some facility for in-code bookmarks (v0.2.1)"
**Original reporter**: _brandon.m.simmons@<hidden>_

I've read the TODO for 0.2.1 and still don't understand why traceEvent messages as bookmarks were removed. Why not a little toggle or something? Or make the "Raw events" pane searchable?

I just spent 30 minutes utterly failing to find 3 events on the graph, flipping between "ghc-events show *.eventlog | less", and scrolling very delicately in "

[2014-05-16 10:35] #27 closed, assigned to ghc-mirror

[2014-05-16 10:35] ghc-mirror opened #28 "Graphs not redrawn on reload"
**Original reporter**: _jan.stolarek@<hidden>_

When I load an eventlog, zoom in, update the eventlog (rerun the program that generates it) and finally reload eventlog in TS the graphs are not redrawn. I have to either zoom in or zoom out to see the new graphs.

[2014-05-16 10:35] ghc-mirror opened #29 "Enhance handling of large eventlogs"
**Original reporter**: _jan.stolarek@<hidden>_

When I enable detailed spark logging via -lf flag I end up with huge eventlog files (130MB). Attempting to load these into ThreadScope practically kills my OS - memory runs out, swapping begins and I am forced to kill TS (which takes some time before the OS actually responds and kills the process). This makes -lf flag useless for my program and I thi

[2014-05-16 10:35] ghc-mirror opened #30 "Stack Space Overflow"
**Original reporter**: _ecrockett3@<hidden>_

I just installed threadscope-0.2.2, and profiled my program (running with -ls -N4). When I load threadscope, it starts loading HECs, but then complains that there was a stack space overflow and crashes.

I manually installed threadscope-0.2.2 with -rtsopts to allow me to change the stack space size. My program ran for ~4.5 minutes on four cores and thr

[2014-05-16 10:35] #30 closed, assigned to ghc-mirror

[2014-05-16 10:35] ghc-mirror opened #31 "Stack Space Overflow"
**Original reporter**: _ecrockett3@<hidden>_

I just installed threadscope-0.2.2, and profiled my program (running with -ls -N4). When I load threadscope, it starts loading HECs, but then complains that there was a stack space overflow and crashes.

I manually installed threadscope-0.2.2 with -rtsopts to allow me to change the stack space size. My program ran for ~4.5 minutes on four cores and thr

[2014-05-16 10:35] ghc-mirror opened #32 "Build errors on Threadscope: "ambiguous occurences""
**Original reporter**: _sebas.chinoir@<hidden>_

Compiling version 0.2.2 from hackage with Cairo version 12.5.0 (current versions) gives a lot of "ambiguous occurences" errors for the variables `height`, `width` and `Region` on files GUI/Timeline/{Render,Timeline,SaveAs}.hs, for example:

GUI/Timeline/Render.hs:258:34:
    Ambiguous occurrence `height'
    It could refer to either`GUI.Types.height

[2014-05-16 10:35] ghc-mirror opened #33 "compile threadscope (0.2.2) with current gtk2hs (0.12.5)"
**Original reporter**: _aba34dd25d4a7d0_

Threadscope does not have sharp version bounds in its cabal file, and it seems that some exports changed in gtk2hs after the last threadscope release.

http://stackoverflow.com/questions/22868536/compile-threadscope-0-2-2-with-current-gtk2hs-0-12-5

[2014-05-18 00:14] #32 closed, assigned to nobody

[2014-05-18 00:16] #33 closed, assigned to nobody

[2014-05-18 22:04] MaxGabriel opened #34 "Feature Request: Retina Text on OS X"
Supporting the Retina Display on OS X would really improve the look of ThreadScope. I've never developed with GTK before, but its possible to enable retina text by adding the following to the Info.plist file that goes inside `Threadscope.app` bundle:

[code]

Here's a comparison of non-retina vs retina, using this technique (you may need to open these images up in a new window to see how blurry it

[2014-05-23 11:06] derekmcloughlin opened #35 "TS 0.2.2 Win7 error loading log file - scanEvents: GCStatsGHC ModeEnd"
Environment: Win 7 (32-bit)
TS 0.2.2
Event log generated by GHC 7.6.3 is the one from Parallel & Concurrent Programming in Haskell, Chapter 2.

ghc -O2 sudoku2.hs -threaded -rtsopts -eventlog

sudoku2 sudoku17.1000.txt +RTS -N2 -l

When I open the generated eventlog file I get a message box with the following error:

scanEvents: GCStatsGHC ModeEnd

TS then closes.

I can open other event log files

[2014-06-05 08:20] #35 closed, assigned to Mikolaj

[2014-06-29 20:01] trofi opened #37 "threadscope crashes on events from ghc-HEAD (2014-06-29)"
Today I've tried to dig a bit in ghc performance bug:
https://ghc.haskell.org/trac/ghc/ticket/9221

After building ghc itself with threadscope support (I might fail to do it properly!)
I've got the following eventlog:
http://code.haskell.org/~slyfox/threadscope-bug-2014-06-29/ghc-stage2.eventlog (~8MB)

threadscope crashes with very uninformative error:
    $ threadscope: Maybe.fromJust: Nothing
I

[2014-08-10 21:51] Fuuzetsu opened #38 "Needs updating for gtk/pango/glib changes"
The gtk/pango/glib introduced breaking changes in 0.13.x which require some extra type signatures in few places where only `String` was accepted before.

[code]

See gtk2hs site for details.

[2014-08-12 00:53] amas-git opened #39 "Build Error with gtk-0.13.0.0"
Hi  Mikolaj
I'm haskell newbee, I build threadscope by cabal and it failed.
- Linux 3.15.8-1-ARCH #1 SMP PREEMPT Fri Aug 1 08:53:42 CEST 2014 i686 GNU/Linux
- The Glorious Glasgow Haskell Compilation System, version 7.8.3
-  gtk-0.13.0.0

''''
GUI/ProgressView.hs:92:15:
    Could not deduce (System.Glib.UTFString.GlibString string0)
      arising from a use of ‘labelNew’
    from the context (Wind

[2014-09-11 21:40] gintas opened #40 "Threadscope allows selection after the end of the trace"
Dragging to select a subset of a trace in Threadscope allows an interval that goes beyond the end of the currently loaded trace. For example, if the trace is 30s long, just clicking and dragging across the screen shows "total time: 50s" at the bottom.

[2014-11-12 16:13] #39 closed, assigned to Mikolaj

[2014-11-24 13:26] peti opened #41 "Minor compilation issues with recent cairo"
Hi, we've tried to update cairo and several other related packages in NixOS, but these updates break the build of threadscope: http://hydra.cryp.to/build/256390/nixlog/1/raw. This seems like a trivial issue to fix, so I was wondering if, by any chance, you could release a new version to Hackage that fixes these errors?

[2014-11-25 17:58] Mikolaj opened #43 "Set up a travis build for ThreadScope"
Even without tests, but with a matrix of GHC versions and a couple of gtk versions.

[2014-12-05 22:33] gitfoxi opened #44 "Click help->Online Tutorial"
Dies with

[code]

I'm on OSX.

Help -> Website does the same thing.

[2014-12-08 00:56] DaveCTurner opened #45 "Fails to load event log: "Bad shift length-32""
The following (in an empty directory)

[code]

returns

[code]

(although the GUI appears briefly before it exits).

Some version numbers that may be relevant:

[code]

I must be doing something daft here as this must work for other people, surely?! Any help appreciated.

[2014-12-08 20:29] #45 closed, assigned to nobody

[2014-12-08 21:11] DaveCTurner opened #46 "Exit with `scanEvents: GlobalSyncGC ModeGHC` on load"
Apologies for the long test case: I haven't found an easy way to make this smaller without the problem going away. It's part of a Project Euler answer.

[code]

And here is what happens when run (on a 4-core VirtualBox VM, GHC 7.8.3, other system info as per #45)

[code]

The `threadscope` GUI starts up and starts to load the eventlog, then exits with the message shown. `ghc-events` doesn't seem t

[2014-12-09 13:10] #46 closed, assigned to nobody

[2015-01-28 15:19] GeorgeCo opened #47 "ghc-events doesn't compile with ghc 7.10.1RC2"
[2 of 8] Compiling GHC.RTS.EventParserUtils ( GHC/RTS/EventParserUtils.hs, dist/build/GHC/RTS/EventParserUtils.o )

GHC/RTS/EventParserUtils.hs:128:5:
    Non type-variable argument in the constraint: MonadError [Char] m
    (Use FlexibleContexts to permit this)
    When checking that ‘undeclared_etype’ has the inferred type
      undeclared_etype :: forall (m :: * -> *) a a1.

[2015-01-28 17:18] Mikolaj commented on #47
Thank you for the report. I guess we'll get to it when @kvelicka merges https://github.com/haskell/ghc-events/pull/4, which seems bound to happen before 7.10.1 is out.

[2015-02-02 22:23] osa1 opened #48 "Can't scroll vertically"
When I enable "event labels" using view menu, all the HECs are not fitting in my screen, but vertical scrollbar is not allowing me to scroll down to see other HECs.

Example: Here I have all 8 HECs listed:

![threadscope-1](https://cloud.githubusercontent.com/assets/448274/6010383/d3aeedae-aaff-11e4-98a6-42f62d01717a.png)

Here, I enabled "event labels" and I no longer have all the HECs on the scr

[2015-02-02 22:35] Mikolaj commented on #48
I can reproduce. Moreover, when I enable, e.g., Instant Events from the Traces tab and afterwards disable it, then I can scroll (a workaround for now). Somehow adding the event labels doesn't trigger recomputation of scrollbars, unlike adding other things.

[2015-03-27 15:38] idontgetoutmuch opened #49 "Threadscope crashes"
[code]

[code]

[code]

With larger event logs this happened when zooming in. With this actual event log it happens when I try to export a png.

[2015-03-27 20:17] Mikolaj commented on #49
Thank you for the report. How much memory did it actually consume before crashing?

This commit message reminds me TS was tested with large eventlogs:

https://github.com/Mikolaj/eventlogs/commit/c394a665e8125d6a6903e339ff3e1e8618b668bd

but I don't remember if I also tested exporting a png with them or not. In any case, your eventlog may be denser than these in some respects (e.g., generated with

[2015-03-30 16:17] idontgetoutmuch commented on #49
Hard to say how much it consumed before crashing. It was consuming over 2G before I zoomed in and it crashed with "out of memory". I can't supply the code that is generating the problem. I can supply the actual log if that helps.

[2015-03-30 18:33] Mikolaj commented on #49
Yep, if that's not a problem, that would be very helpful for whomever ventures to fix the memory usage (volunteers are very welcome; debugging Haskell is fun (comparatively, anyway:)).

[2015-04-01 07:35] idontgetoutmuch commented on #49
It seems to be a problem on my macbook only. On an ubuntu machine it works albeit taking up well over 3G. It also took about 30 seconds to load a 100M log.

I am going to close this; I suspect it will forever remain one of life's great unsolved mysteries.

[2015-04-01 07:35] #49 closed

[2015-04-03 14:29] GeorgeCo commented on #47
ghc 7.10.1 is out and the issue still exists. Thanks

[2015-04-03 14:57] Mikolaj commented on #47
Indeed, I was wrong. Thank you for the reminder. Fixed on branch master. @kvelicka, the fix was very small, so I hope it won't conflict with your changes (unlike the previous commits, regrettably).

[2015-04-03 14:57] #47 closed

[2015-04-03 21:11] GeorgeCo commented on #47
Thanks for the quick response!

[2015-04-18 01:29] hwhelchel opened #50 "Threadscope - user error out of memory"
Hello!

I'm working through Simon Marlow's Parallel Haskell book and am having issues with Threadscope. I've got a 1.2 MB eventlog file (sudoku3.eventlog) and can open it in Threadscope fine. However if I zoom in more than once it always crashes with the `user error out of memory` error. I tried `threadscope --test ch8` and can zoom in and out fine with that file without it crashing. Is there is a

[2015-04-24 12:32] GeorgeCo opened #51 "can't install threadscope on ghc 7.10.1, ghc-events fails to compile"
can't install threadscope on ghc 7.10.1 because ghc-events fails to compile

ghc --version
The Glorious Glasgow Haskell Compilation System, version 7.10.1
bash-3.2$ cabal install threadscope
Resolving dependencies...
Configuring ghc-events-0.4.3.0...
Building ghc-events-0.4.3.0...
Failed to install ghc-events-0.4.3.0
Build log ( /Users/gcolpitts/.cabal/logs/ghc-events-0.4.3.0.log ):
Configuring gh

[2015-04-24 13:38] Mikolaj commented on #51
Yes, I'm afraid you need to install ghc-events from the github repo, branch master.

[2015-04-24 14:08] GeorgeCo commented on #51
Thanks for the quick response. Glad there is a workaround. I assume this will eventually be fixed so it can be installed via cabal install. Do we have an ETA for that?

[2015-04-24 20:14] Mikolaj commented on #51
@simonmar: Given that the fate of 7.10 is decided and it seems to work, it seems stable, etc., would you want to release a new version of ghc-events and TS now?

[2015-04-30 13:33] Mikolaj commented on #51
Here are the Hackage package candidates:

http://hackage.haskell.org/package/ghc-events-0.4.4.0/candidate

http://hackage.haskell.org/package/threadscope-0.2.7/candidate

[2015-05-04 13:29] Mikolaj commented on #51
Published. Thank you for the report. Closing.

[2015-05-04 13:29] #51 closed

[2015-05-04 13:39] GeorgeCo commented on #51
Great! Just installed
Given recent mail on space usage of compiling it is interesting to not that
max resident size was about 800 mb

 /usr/bin/time -l cabal install -j3 threadscope
/usr/bin/time -l cabal install -j3 threadscope
Resolving dependencies...
Downloading ghc-events-0.4.4.0...
Configuring ghc-events-0.4.4.0...
Building ghc-events-0.4.4.0...
Installed ghc-events-0.4.4.0
Downloading threa

[2015-05-04 14:07] Mikolaj commented on #51
Thank you for the feedback. Can't comment on the resident size, but any data points about OSX are very appreciated (even just that it compiles).

[2015-05-04 14:17] GeorgeCo commented on #51
Not only does it compile on OS X, it passes a smoke test for running as

threadscope --test ch8

seems to work!

On Mon, May 4, 2015 at 11:07 AM, Mikolaj Konarski <notifications@github.com>
wrote:

[2015-05-04 14:22] GeorgeCo commented on #51
actually there may be some runtime issues

in the bottom pane for Mutator time, GC time and Productivity , all say
(Unavailable). There is no output on HEC 0 etc.

Is this expected? Should I file a bug?

On Mon, May 4, 2015 at 11:16 AM, George Colpitts <george.colpitts@gmail.com>
wrote:

[2015-05-04 19:41] Mikolaj commented on #51
That's normal if the eventlog was not generated with extra options (or GHC or ghc-events may be broken). Could you try the one at https://github.com/Mikolaj/eventlogs/blob/master/perf/blackscholes.total.eventlog? It should have all the extra info, including even the spark sizes histogram (quite trivial in this case).

[2015-06-29 13:47] seanparsons commented on #49
I've just had this issue on an eventlog that isn't even a single megabyte in size.

This looks to be exactly the same as https://github.com/haskell/ThreadScope/issues/50 as well.

[2015-07-07 10:33] lukerandall commented on #41
@peti can this issue be closed?

[2015-07-07 11:43] #41 closed

[2015-07-17 23:11] bruno-cadorette opened #52 "Binaries are outdated in the HaskellWiki"
It would be nice to be able to download the latest version of the program

https://wiki.haskell.org/ThreadScope#Binary_releases

[2015-07-23 16:11] Mikolaj commented on #52
Github releases mechanism is not a bad one for binaries. It seems I have sufficient access rights to update the github releases page and redirect the wiki link to release_latest, if somebody volunteers to prepare the binaries.

[2015-09-06 15:20] TerrorJack opened #53 "ThreadScope core dumps when linked with threaded runtime"
When linked with threaded runtime (cabal install --ghc-options="-threaded" threadscope), ThreadScope can start normally, but core dumps when clicked on the "open" button. The error message is simply "Segmentation fault (core dump)".

The version of threadscope is 0.2.7, compiled by ghc 7.10.2 on 64-bit Linux.

[2015-09-06 19:54] Mikolaj commented on #53
Yes, that's a known issue (or feature):

https://github.com/haskell/ThreadScope/blob/master/threadscope.cabal#L89

gtk2hs is used in TS in a very simple and safe way that conflicts with -threaded. I guess, with current gtk2hs versions, the TS code could be rewritten to accept -threaded, but I doubt it's worth the risk of introducing errors (some very subtle, some possibly outside of TS itself).

[2015-09-06 20:00] TerrorJack commented on #53
@Mikolaj Thank you. This issue isn't bothering me, since TS doesn't use SMP parallelism; but it would be nice if you put a short notice on hackage & haskell wiki to prevent people from using -threaded.

[2015-09-06 20:00] #53 closed

[2015-09-06 21:44] Mikolaj commented on #53
Couid you do it? I would help, if needed.

[2015-09-07 10:17] simonmar commented on #53
Strange, I thought I had this working in the past.  What's the issue?

[2015-10-14 20:43] varosi commented on #52
I give +1 for x64 Windows build, because little bit larger profiles cannot be seen on x86 build.

[2015-11-13 10:50] lyqscmy opened #54 "Failed to install on Fedora 23"
I have installed ghc-gtk-devel via package manager and checked ghc-gio-0.13 and ghc-cairo-0.13 installed.

[code]

[2015-11-13 19:52] Mikolaj commented on #54
Without the `-v2` flag, I can't tell why cabal reinstalls things. The build problem appears when building `cairo` and is probably caused by old versions of some Haskell build tools. Try `cabal install` with `happy`, `alex` and  `gtk2hs-buildtools` first. If this fails, try installing them in a cabal sandbox.

[2015-11-16 07:13] lyqscmy commented on #54
I have tired to install in sandbox on Fedora 23,but failed.Maybe it's my fault.By contrast，there is no problem to install in Ubuntu. Really embarrassing！

[2015-11-16 08:29] Mikolaj commented on #54
So perhaps uninstall all Haskell packages on Fedora including ghc and try with a blank slate. E.g., install Haskell Platform by hand?

[2016-01-05 00:27] pavolzetor commented on #29
Even with `-l` flag I get 500 MB eventlog and threadscope eats 16 GB of RAM. Please provide either some sort of granularity control before loading the file or live streaming.

[2016-05-22 04:23] rcook opened #55 "Quit command on Mac OS X does not close app"
* Start ThreadScope on Mac OS X
* Press Command-Q or select Quit command from app menu

Application does not close.

[2016-05-23 18:00] rcook commented on #55
Looks like the solution is to the `gtk-mac-integration` package as described in this Stack Overflow thread:

http://stackoverflow.com/questions/37370553/how-to-handle-quit-command-cmd-q-in-mac-os-x-in-haskell-gtk2hs

[2016-05-24 12:46] Mikolaj commented on #55
Oh, great, thanks for the hint. Any volunteers for implementing this?

[2016-05-24 16:23] rcook commented on #55
I now have a full, working demo (using GTK+3) at https://github.com/rcook/gtkapp/blob/master/src/Main.hs. The trick appears to be the following code:

[code]

[2016-05-24 16:30] Mikolaj commented on #55
Splendid! Care to make a pull request? I will test it (on Linux) and if it doesn't break anything, merge it.

[2016-05-24 16:49] rcook commented on #55
I'll try to integrate my fix into ThreadScope. Watch this space!

[2016-05-24 20:26] rcook commented on #55
All done! Adds new `GUI.App` module with `initApp` function that should do nothing on non-Mac OS X platforms. On OS X, it'll add an empty menu bar to the application object which will add support for Cmd-Q and other standard keyboard accelerators.

[2016-05-24 21:07] Mikolaj commented on #55
Any other Mac user willing to test while I'm testing on Linux (7.10.3; probably GTK+2)?

[2016-05-25 14:10] #55 closed

[2016-05-25 14:11] Mikolaj commented on #55
I think we have enough feedback to merge. If any problems are found later on, we can always revert before the release. @rcook: great job!

[2016-05-29 07:09] ilovezfs opened #57 "GHC 8 build fails: couldn't match expected type ‘Ptr ()’ with actual type ‘Maybe DrawWindow’"
ThreadScope fails to build with GHC 8 with the error "couldn't match expected type ‘Ptr ()’ with actual type ‘Maybe DrawWindow’".  Build log is below:

[code]

[2016-05-29 16:08] ilovezfs commented on #57
Looks like we were doing something that triggered an attempt to reinstall gtk without the `have-quartz-gtk` flag.

[2016-05-29 16:08] #57 closed

[2016-09-09 23:45] Mikolaj opened #58 "Elapsed productivity in the bottom pane may be calculated wrongly"
It requires a careful look at the code, but it may be wrong, because it was mimicking old GHC code and there apparently was a bug in that code: https://ghc.haskell.org/trac/ghc/ticket/12424

[2016-11-30 17:28] varosi commented on #52
+1 even for x86 Windows builds of latest 2.7 version.

[2016-12-15 02:27] tmcgilchrist commented on #52
+1 for having pre-built binaries.

I've poured hours into trying to get this building under OSX with little success.

[2017-01-05 08:26] jwaldmann opened #59 "cannot build with ghc-8.0.2 (rc2) because of version bound for directory"
When I do `cabal install threadscope` with ghc 8.0.1.20161213 (= 8.0.2-rc2), I get

[code]

adding `--allow-newer`, a build plan is found, and compilation happily starts.

[2017-01-05 09:32] Mikolaj commented on #59
Thank you for the report and for the --allow-newer trick. I've already reported the gtk2hs issue here: https://github.com/gtk2hs/gtk2hs/issues/193

Since TS does not depend directly on directory, nor sets an upper bound on it, nor on gtk2hs, we can close this issue, unless we want the --allow-newer trick to be visible to any future reporters.

[2017-04-06 19:15] varosi opened #60 "Interpreting foreign functions call information as activity"
Feature request

It'll be great if time between:
"HEC YY: stopping thread ZZZZZ (making a foreign call)" and
"HEC YY: running thread ZZZZZ" where YY and ZZZZZ are same between events and intepret as a single foreign call.

Activity diagram to show it as this thread is doing something foreign and this could be shown as separate coloured activity inside HEC graphs for YY execution unit.

This is a t

[2017-04-07 14:05] simonmar commented on #60
The problem is that ThreadScope shows activity on each Haskell HEC, and while an FFI call is running the HEC might be doing something else, like running a different Haskell thread.  So you would have potentially multiple FFI calls running at the same time as another Haskell thread (or the GC), it's not clear how to display this.

[2017-04-08 11:51] varosi commented on #60
hm, but which OS thread is blocking on that FFI call? Isn't it the same OS thread which runs HEC (that calls foreign code) on.

Displaying of FFI activity could be similar to displaying GC trace - with separate band per HEC. Those bands could be shown or hidden with a check boxes that show/hide other traces.

[2017-04-10 07:56] simonmar commented on #60
The OS thread that made the FFI call is blocked, and meanwhile a different OS thread is running the HEC.

So the problem is that ThreadScope shows a HEC-centric view of the execution, whereas you might prefer to see an OS-thread-centric view.  That's entirely reasonable, and in that setting it would make sense to show FFI calls, but it's not implemented.

[2017-04-10 11:45] varosi commented on #60
Ahaa, so that will be useful for sure.

[2017-04-10 19:28] varosi commented on #52
Here I have built 0.2.7 x64 with GHC 8.0.2 against LTS-8.9: https://drive.google.com/file/d/0B7E9nsYnaKCcQnBNUUlXcU9sRFE/view?usp=sharing

If someone could check if everything is in-place and upload it to the Wiki it will be cool.

[2017-04-10 19:30] varosi commented on #52
master branch is incompatible with latest LTS-8.9, because of ghc-events 0.5 dependency which is not in LTS, yet.

[2017-04-10 20:43] varosi commented on #52
hm, there is a problem with finding .ui file on another machine. So I have to find where to tell it to search it.

[2017-04-11 15:32] varosi commented on #52
Problem is fixed. You could find binary distributable here:
https://drive.google.com/open?id=0B7E9nsYnaKCcQnBNUUlXcU9sRFE

[2017-04-19 10:29] kvelicka commented on #59
https://github.com/gtk2hs/gtk2hs/pull/197 is merged so I assume this is no longer an issue.

[2017-04-19 10:29] #59 closed

[2017-04-21 14:40] varosi commented on #52
hm, is that project dead? No one answer here.

[2017-04-21 14:52] Mikolaj commented on #52
@varosi: I'm sorry, I missed your first ping. No, the project is not dead; it just has a very busy maintainer (@simonmar). As soon as I'm able to run this binary under `wine` (or one of the contributors with a Windows machine manages to run it and/or scan for viruses) I will somehow publish it. Thank you and I apologize again for ignoring you. :)

[2017-04-21 15:27] Mikolaj commented on #52
Yay, it runs under `wine` (from the `bin/` directory). I've uploaded it to https://github.com/haskell/ThreadScope/releases and linked from https://wiki.haskell.org/ThreadScope#Binary_releases  https://github.com/haskell/ThreadScope/releases. Thanks again!

We are still waiting for OS X binaries, though...

[2017-04-21 17:10] varosi commented on #52
I have pushed pull request about how it could be builded easily under Windows with Stack, too.

[2017-04-21 17:11] varosi commented on #52
I don't see it at https://wiki.haskell.org/ThreadScope#Binary_releases

[2017-04-21 18:03] Mikolaj commented on #52
Yes, I left the old link, but I mentioned it's old and pointed to the new location. If you have suggestions re wordking, please share.

The PR looks very handy. I'm sure the maintainer will incorporate all or potions of it next time a release is prepared.

[2017-04-22 11:18] varosi commented on #52
Ah, okay. I didn't saw this text under 0.2.2 builds. Great, thanks!

[2017-07-11 23:20] GeorgeCo opened #63 "can't install threadscope on ghc 8.2.1 rc3"
can't install threadscope on ghc 8.2.1 rc3
 cabal install -j5 threadscope
cabal install -j5 threadscope
Resolving dependencies...
Configuring threadscope-0.2.7...
Building threadscope-0.2.7...
Failed to install threadscope-0.2.7
Build log ( /Users/gcolpitts/.cabal/logs/threadscope-0.2.7.log ):
cabal: Entering directory '/var/folders/9b/rh4y2gy92hgdb6ktv4df1jv00000gn/T/cabal-tmp-21811/threadscope-0

[2017-07-12 06:16] maoe commented on #63
Current version on Hackage doesn't build with the latest ghc-events.

@Mikolaj or someone: could you please upload a new version to Hackage? Current master builds fine with the latest ghc-events.

[2017-07-12 10:45] Mikolaj commented on #63
Oh, yes, the releases were always coordinated. If @simonmar doesn't object, I'd just give you hackage upload rights.

[2017-07-12 10:57] simonmar commented on #63
I don't object!

[2017-07-12 11:00] Mikolaj commented on #63
Done. :)

@maoe: if you'd like me to test first, please let me know, but I don't have ghc 8.2.1 rc3 handy, so I'd just compile on 8.0.2 and display a few eventlogs.

[2017-07-12 20:51] maoe commented on #63
Thanks!

Yes, please do.

In the meanwhile, I'll make a PR for enabling Travis CI.

[2017-07-12 20:52] maoe commented on #63
Also we probably should revise the existing packages with a upper version bound on ghc-events.

[2017-07-13 09:56] Mikolaj commented on #63
Eventually, I tested TS with GHC 8.0.1. It compiles and works fine with github's ghc-events.

[2017-07-13 21:17] maoe commented on #63
@Mikolaj Thanks for testing! I'm now experimenting the macOS support on Travis CI. Also I'm going to add AppVeryor build for Windows.

[2017-07-16 01:20] maoe commented on #63
I've tightened upper version bound for ghc-events for a couple of existing releases of threadscope.

@GeorgeCo could you try again?

Also we'll be enabling Travis/AppVeyor in #64 and I'm going to tighten some upper version bounds to minimize this kind of failures.

[2017-07-16 13:02] GeorgeCo commented on #63
Yes, it installs now.
Thanks!

On Sat, Jul 15, 2017 at 10:20 PM Mitsutoshi Aoe <notifications@github.com>
wrote:

[2017-07-16 21:11] maoe commented on #63
Thanks for checking. Closing.

[2017-07-16 21:11] #63 closed

[2017-07-17 02:20] maoe commented on #43
This is done in #64 and #65. GTK+ versions may or may not be different across platforms. CI uses whatever available on the platform.

[2017-07-17 02:20] #43 closed

[2017-07-17 02:36] maoe commented on #54
Closing this due to inactivity. Feel free to reopen it if it's still relevant.

[2017-07-17 04:35] #54 closed

[2017-07-17 04:36] maoe commented on #38
Should be fixed at least in v0.2.8

[2017-07-17 04:36] #38 closed

[2017-07-17 04:39] maoe commented on #6
I believe this is fixed in ghc-events and thus in v0.2.8 of threadscope.

[2017-07-17 04:39] #6 closed

[2017-07-20 23:31] maoe commented on #34
It's a 3 year old ticket but I think this has been resolved by using the Quartz backend of GTK+. Homebrew enabled the backend by default and I see clear text on Retina MBP.

Feel free to reopen if you still have the issue.

[2017-07-20 23:31] #34 closed

[2017-08-06 02:29] bgamari opened #69 "Showing GCEnd duration in orange may be slightly misleading"
The `GCEnd` duration (e.g. between the `GCDone` event and `EndGC`) is currently rendered as an orange bar in the HEC view. This is arguably a bit misleading as the HEC will be idle, waiting for other HECs to finish GC, for the majority of this time.

[2017-08-11 06:49] #69 closed

[2017-08-17 20:19] harendra-kumar opened #72 "Include README.md in the cabal file"
I struggled with installing threadscope on Mac OS X. First of all my macports had gtk-x11 installed by default, it was not clear that I had to install the quartz variant. I somehow figured that and installed the quartz variant, but the gtk-mac-integration package still showed compilation errors. From the README at this github project page I figured that the following flag was to be used:

[code]

[2017-08-17 21:43] maoe commented on #72
Thanks for your report. Apparently I forgo to update the cabal file when I added the README.

Would you mind updating it? Or I can do it probably later today.

[2017-08-17 21:51] maoe commented on #72
Also I managed to set up binary release via GitHub Releases on [my fork](https://github.com/maoe/ThreadScope/commit/4def28fa6af3679e4789cfd538f2bcb8d7c69b81). It'd be great if you could check that the [the binary on the release page](https://github.com/maoe/ThreadScope/releases/tag/test-release-5) works on your machine.

[2017-08-17 22:00] maoe opened #73 "Use the official cabal-install binaries on Travis and AppVeyor"
New binaries have been uploaded to the [download page](https://www.haskell.org/cabal/download.html) recently.

[2017-08-18 06:47] #72 closed

[2017-08-18 07:31] maoe commented on #72
Updated the cabal file on master.

[2017-09-02 07:48] maoe commented on #52
We've set up GitHub Releases. Binaries are uploaded there on every tag.

[2017-09-02 07:48] #52 closed

[2017-09-04 10:27] varosi opened #76 "Windows archive is missing DLLs needed for ThreadScope to start"
Auto-built binaries for Windows are missing DLLs that are needed for it to start:
https://github.com/haskell/ThreadScope/releases/tag/v0.2.9

List of DLLs from original archive include:
Mode                LastWriteTime         Length Name
----                -------------         ------ ----
-a----     22.3.2017 г.     13:56         134706 libatk-1.0-0.dll
-a----     15.1.2017 г.     15:37

[2017-09-04 11:25] maoe commented on #76
You need to install gtk2 using MSYS2 or something like that in order to use the Windows binary on GitHub releases. Can you try the last snippet from https://github.com/haskell/ThreadScope/blob/90947984a1a570b3c6ec409b0d62b7b6b3b5c61f/README.md?

[2017-09-04 13:24] varosi commented on #52
Isn't it good if 0.2.2 builds are removed as links from the [Wiki site,](https://wiki.haskell.org/ThreadScope#Binary_releases) because on the first sight people don't see that there is a link to newer ones beneath it?

[2017-09-04 13:26] varosi commented on #76
hm, this should be well documented. Before it was running out of the box, because archives were including everything needed to run on clean machine.

[2017-09-04 13:33] Mikolaj commented on #52
@varosi: right, edited it out. :)

[2017-09-04 15:23] Mikolaj commented on #76
Some time ago I also tried this ready exe. You tap Enter a few times and gtk is installed on Windows: https://sourceforge.net/projects/gtk-win/

I any case, let me know if I can edit the wiki with some proper info.

[2017-09-05 03:04] maoe commented on #76
The documentation could be improved.

I'm opposed to include GTK+ dependencies (DLLs) into the release artifacts because those deps tend to be out-of-date and need to be updated regularly.

As for the gtk-win project, it seems to be deprecated and not maintained any more. The official GTK+ project recommends MSYS2.

I'll extend README later.

[2017-09-05 04:08] maoe commented on #76
^ Updated README.

[2017-09-05 05:07] maoe opened #77 "HiDPI support"
Here is a screenshot on HiDPI screen on Ubuntu:

![screenshot from 2017-09-05 13-57-31](https://user-images.githubusercontent.com/105151/30046047-d86f0b9e-9242-11e7-9bd4-fbfcf4be66bd.png)

The icons are tiny, which can be fixed by migrating to GTK+3. Also the cairo canvas needs to be scaled properly.

[2017-11-02 23:02] GeorgeCo opened #78 "threadscope on ghc 8.2.2 uses older cabal than cabal that 8.2.2 ships with"
minor but I thought it may be worth mentioning: 8.2.2 and I believe 8.2.1 ship with cabal 2.0
But threadscope  uses cabal 1.24.2
Would it be possible to fix so  8.2.2 with threadscope uses one version of cabal rather than two?

[2017-11-02 23:06] Mikolaj commented on #78
How does it depend on cabal? Via some other package?

[2017-11-02 23:12] GeorgeCo commented on #78
Sorry, not sure. As you point out it may not be a threadscope issue. What I see is:

 cabal install -j5 threadscope
Resolving dependencies...
Configuring ghc-events-0.6.0...
Configuring file-embed-0.0.10.1...
Configuring hashtables-1.2.2.1...
Configuring temporary-1.2.1.1...
Configuring process-1.4.3.0...
Building file-embed-0.0.10.1...
Building ghc-events-0.6.0...
Building hashtables-1.2.2.1...
B

[2017-11-02 23:42] Mikolaj commented on #78
IIRC, the gtk packages depend on cabal. I so, we may verify that our dependency on gtk includes the newest versions. If it does, we can only wait for gtk maintainers to update their dependency on cabal. However, I guess, technically TS depends only on one version of cabal and it;s GHC that depends on another. So I think there is nothing to worry about.

[2018-02-18 11:20] hvr commented on #78
...you can use [`cabal-plan`](https://hackage.haskell.org/package/cabal-plan) to investigate the install-plans. And fwiw, `cabal new-build -w ghc-8.2.2 --constraint 'setup.Cabal installed'` was able to find an install-plan which used only `Cabal-2.0.1.0`...

[2018-03-06 19:25] varosi opened #82 "Activity colouring depending on HEC usage"
Intel VTune have similar profiling information which is helping to find places where not all available cores (HECs) are used.
The idea is to use tri-color/semaphore (red, yellow, green) to paint the activity diagram depending on HEC usage. For example, if activity is less than 50% it's red, less than 75% yellow and more - green. So programs are pushed toward more parallel computations.

Actual HEC

[2018-03-06 21:19] Mikolaj commented on #82
I don't remember if it's enabled by default, but doesn't the graph where the height of stuff depends on how many HECs are used suffice?

[2018-03-06 22:36] varosi commented on #82
Yes, it is, but not obvious enough in my opinion. It'll guide more into the best direction.

btw, other way of representing this is to paint the background only in three colors.

[2018-05-08 21:03] GeorgeCo opened #83 "instructions for installing threadscope on mac os from source don't seem to work"
from https://hackage.haskell.org/package/threadscope:

Building from source
...
Then you can build threadscope using cabal:

cabal new-build --constraint="gtk +have-quartz-gtk"

but when I try that I get

 cabal new-build --constraint="gtk +have-quartz-gtk" threadscope
No cabal.project file or cabal file matching the default glob './*.cabal' was found.
Please create a package description file <pkg

[2018-05-08 21:26] Mikolaj commented on #83
Oh, indeed, I see here

https://github.com/haskell/ThreadScope/blob/master/.travis.yml

that cabal.project is auto-generated. Does it work for you, if you generate similarly?

@maoe: what do we do about this discrepancy?

[2018-05-08 23:29] maoe commented on #83
Hmm I don't think `cabal.project` is necessary to build because there exists the `threadscope.cabal` at the project root directory.

@GeorgeCo Were you at the project root directory when you got that error? Also what version of cabal-install do you use?

[2018-05-09 00:00] maoe commented on #83
Ah I think I know what happened. I guess you ran that command outside the source repository. I guessed so because you passed `threadscope` at the end of the command line.

[`cabal new-build`](http://cabal.readthedocs.io/en/latest/nix-local-build.html#cabal-new-build) is, unlike `stack install`, used to build stuff in a source repository. If you'd like to install a package without the source code t

[2018-05-25 22:05] GeorgeCo commented on #83
Thanks for taking the time to look at this. Good observation! I was actually just trying to follow the instructions but mistakenly added threadscope on the end. As you suggest, that is because I normally do cabal install

Back to following instructions, I don't see anything at https://hackage.haskell.org/package/threadscope that would put me in the source repository. Nor do I see anything about th

[2018-06-03 00:37] nek0 opened #85 "threadscope fails to build with ghc 8.2.2"
Hi there,

when trying to build ThreadScope, compilation fails with this error:
[code]

Is this some error on my side or really an issue?

Thanks for your time.

[2018-06-04 00:17] maoe commented on #85
This is caused by [a breaking change](https://github.com/gtk2hs/gtk2hs/pull/239) in gtk. In theory [gtk-0.14.9 should have bumped the second version component](https://github.com/gtk2hs/gtk2hs/issues/247).

There's a fix for threadscope in #84 but I haven't gotten around to fixing the build issue on AppVeyor properly. I hope I can take a look in this week.

[2018-06-06 23:15] maoe commented on #85
@nek0 I merged #84 yesterday. Can you check if master builds fine in your environment?

[2018-06-06 23:45] maoe commented on #83
Hmm it's strange that cabal picked such an old version of ghc-events.

I thought it was obvious. I've updated the instructions in https://github.com/maoe/ThreadScope/commit/05a8c3fdb155db877cc70c5311928058c1f1c715. Does it help?

[2018-06-07 20:46] maoe commented on #85
Great! Thanks for confirming.

[2018-06-07 20:46] #85 closed

[2018-06-07 23:45] #83 closed

[2018-06-08 09:57] anjuna opened #87 "Error running osx binary"
I encountered lots of problems trying to build threadscope, so I tried the osx binary (v0.2.11), my machine running El Capitan 10.11.1

I installed gtk+ and gtk-mac-integration via brew, but hit this error log when running the binary:

[code]

I'd really love to play around with profiling some parallel haskell programs, any help fixing this so I can use threadscope would be very much appreciated :

[2018-06-08 11:15] GeorgeCo commented on #83
Thanks yes, however I am using ghc 8.4.3 and the build fails, not sure if you want a new issue for that as it does compile with --allow-new.

I do think it would be good to fix cabal install and cabal new-install as I just wanted to check if threadscope compiled with the latest ghc. I didn't actually need to download the source to my machine but tried that as cabal install did not work. I think th

[2018-06-08 14:53] GeorgeCo commented on #83
sorry, building from source (new-build) failed with ghc 8.4.3. Do you want me to open an issue:

[ 7 of 37] Compiling GUI.BookmarkView ( GUI/BookmarkView.hs, /Users/gcolpitts/haskell/threadscope/threadscope-0.2.10/dist-newstyle/build/x86_64-osx/ghc-8.4.3/threadscope-0.2.10/build/threadscope/threadscope-tmp/GUI/BookmarkView.o )

GUI/BookmarkView.hs:84:39: error:
    • Couldn't match expected type ‘

[2018-06-08 21:16] maoe commented on #83
There's a new version (v0.2.11) that fixes the issue. Could you try that?

[2018-06-09 11:51] GeorgeCo commented on #83
Yep, that works,thanks!

[2018-06-09 13:52] maoe commented on #87
I can reproduce the issue. It seems that the latest version of gtk-mac-integration (the C library not the Haskell one) broke something. I've confirmed that the binary works fine with https://github.com/jralls/gtk-mac-integration/commit/28ecf865babe50694d9fa9f61b876e29c28c16c5. I'll report upstream.

[2018-06-09 14:42] maoe commented on #87
Reported upstream. For the time being you can use [gtk-mac-integration 2.0.8_2](https://github.com/Homebrew/homebrew-core/blob/0fbcccdbc6ffa7b16dfab0cebd1f94a05572f6fb/Formula/gtk-mac-integration.rb).

[2018-07-11 14:32] maoe commented on #87
This issue was fixed upstream but there has been no release that has the fix. So I opened [a PR](https://github.com/Homebrew/homebrew-core/pull/29979) that adds --HEAD option to gtk-mac-integration formula.

[2018-07-27 05:17] lylek commented on #87
I tried installing gtk-mac-integration 2.0.8_2 via `brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/0fbcccdbc6ffa7b16dfab0cebd1f94a05572f6fb/Formula/gtk-mac-integration.r`. But then when I run threadscope, I get:

[code]

[2018-07-27 05:41] lylek commented on #87
Ah, following the instructions in your PR worked. Thanks!

[2018-07-27 06:46] lylek commented on #76
I installed msys2 and used pacman to install 64-bit gtk2 but I still get an error when running ThreadScope (from within msys2):

[code]

I'm using the latest Windows binary 0.2.11.

[2018-07-27 07:03] maoe commented on #76
I'm not familiar with Windows environment at all but is there `libpangocairo-1.0-0.dll` available in your `%PATH%`?

[2018-07-27 07:09] lylek commented on #76
Well, I'll be darned, that did it, thanks! I added `/mingw64/bin` to my `$PATH`. I would think that MSYS2 would automatically put that in my path, but... now it works.

[2018-07-31 20:03] ksallberg commented on #87
"brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/0fbcccdbc6ffa7b16dfab0cebd1f94a05572f6fb/Formula/gtk-mac-integration.rb" worked for me!

[2018-08-09 13:37] maoe commented on #87
This is now fixed upstream.

[2018-08-09 13:37] #87 closed

[2018-08-25 08:42] osa1 commented on #29
This is still a problem. Loading a 1G eventlog file is impossible even with 32G RAM. I think we need two things:

- Externally sort GHC-generated .eventlog files. Currently for sorting events ThreadScope uses `ghc-events`'s `sortEvents`, which requires all events to be in memory and uses `Data.List` to sort. See https://github.com/haskell/ghc-events/issues/32 for the tracking issue for this.

- Im

[2018-08-25 11:39] osa1 commented on #29
I started working on a fix. I currently have an external sort library and another library for filesystem-backed, cached arrays. I'll report in a few days probably.

[2018-08-29 15:57] osa1 commented on #29
Currently blocked on https://github.com/haskell/ghc-events/issues/42.

[2018-09-01 20:45] maoe commented on #29
We may need to fix haskell/ghc-events#14 as well as it causes ghc-events to crash when reading back serialized events for eventlogs that contain deprecated events.

[2018-10-18 10:03] fommil opened #89 "findRunThreadTime error"
When running threadscope on an eventlog captured from a ghc-8.4.3 compiled application, I am seeing this error.

[code]

i.e. this file
https://github.com/haskell/ThreadScope/blob/master/Events/EventDuration.hs#L100

it looks like `eventsToDurations` will always `error` if it receives a single `event`, is that right? Or at least one without the `StopThread`. Ah, I guess that means threadscope will

[2018-10-18 10:07] #89 closed

[2018-11-20 06:24] maoe opened #91 "Windows deployment is failing"
https://ci.appveyor.com/project/maoe/threadscope-44t6e/branch/master/job/oghpl3ta210a46b8

[2019-06-10 07:54] kazu-yamamoto opened #94 "Mac binary"
Mac binary v0.2.11.1 causes the following error:

[code]

Is it possible to provide a statically-lined version?

[2019-06-14 00:14] maoe commented on #94
Do you have the shared library installed? It's called gtk-mac-integration in Homebrew.

I'm personally hesitant to statically link GTK+ libraries or distribute GTK+ shared libraries because

* GTK+ is huge. If we statically link it or bundle it, we need to repackage every time one of the libraries fixes a critical bug.
* It has become easy to install the GTK+ dependencies. Homebrew provides good s

[2019-06-14 00:25] kazu-yamamoto commented on #94
I'm a MacPort user. But I have installed `gtk-mac-integration` by brew now. It's working. Thanks!

I think that the doc should say the binary distributions *also* require `gtk-mac-integration` by brew.

[2019-06-14 00:45] maoe commented on #94
Thanks for the suggestion. I'll make a fix.

I'm wondering if there's gtk-mac-integration in MacPorts? A quick search turned up some packages that look relevant:
https://www.macports.org/ports.php?by=name&substr=gtk-osx-application

If we can sort out what packages are required in MacPorts, we can extend the README.

[2019-06-14 00:53] maoe commented on #94
Apparently we have this in README:

[2019-06-14 02:11] kazu-yamamoto commented on #94
I read it for building, not for binary release ones.

[2019-06-14 02:13] kazu-yamamoto commented on #94
It's hard to understand that `gtk-mac-application` is the same as `gtk-mac-integration`. Anyway, I will try.

[2019-06-14 02:43] maoe commented on #94
Okay, it's under the "Using pre-built binaries" section though. Maybe the REAME should be refined a bit.

Yeah the same naming convention is used in [haskell-gi](https://github.com/haskell-gi/haskell-gi/issues/222). We should update the README for this as well.

[2019-08-23 05:46] chenyulue opened #95 "threadscope.exe: user error (Couldn't recognize the image file format for file "...threadscope4118467.png")"
I build and install threadscope-0.2.11.1 with ghc-8.0.2 on windows 10, and it can be builded successfully with `cabal install`.

However, when I type `threadscope` in powershell, I get a user error:

I have installed gtk2hs successfully, so why this problem? Thanks for any tips!

[2019-08-25 21:08] Mikolaj commented on #95
Hi! Can you view this image file outside ThreadScope? Can you compile and run successfully on another OS, or run the binary version at https://github.com/haskell/ThreadScope/releases/tag/v0.2.11 ?

[2019-08-26 14:58] chenyulue commented on #95
@Mikolaj The fact is the `png` image cannot be found in the metioned directory. Since now only windows 10 is available to me, I have not tried it on another OS.

[2019-08-26 21:00] Mikolaj commented on #95
What happens when you copy file `threadscope.png` from source directory to the file you mentioned, creating any directories as needed? Perhaps that would let you use TS while the bug is being investigated. BTW is `threadscope.png` installed anywhere? To which path? Which version of gtk2hs did you install and how?

[2019-08-26 22:12] Mikolaj commented on #95
Now that I look at README, it advises to use `cabal new-install` and to install gtk twice. Could you follow he instructions and report back? Thank you.

[2019-08-26 23:52] maoe commented on #95
The logo image is embedded into the binary and at runtime it gets written to a temporary file then is read by `pixbufNewFromFile`. See the [relevant code](https://github.com/haskell/ThreadScope/blob/607e113ba2df4a0ca2530459fc4fd6761cc04fb7/GUI/DataFiles.hs#L25-L34).

Could you
* check if there's the png file while ThreadScope is running? It's a temporary file so it's likely to be deleted when the

[2019-08-27 04:39] chenyulue commented on #95
@Mikolaj
I have installed gtk twice, and also copied `threadscope.png` to the temporary directory and renamed it to `threadscope4118467.png` or the current directory where `threadscope` is in, but the same issue remains.

`gtk` was installed by `msys2`, and the haskell package `gtk` is version 0.14.7. `ghc` is 8.0.2, `cabal` is 1.24.0.2, and `threadscope` is installed by `cabal install`.

I have n

[2019-08-27 23:57] maoe commented on #95
Note that the PNG file is a temporary file that's likely to have a different name each run. Would you mind replacing the `withSystemTempFile logoFile` with `withFile "/some/writable/location.png" WriteMode` and checking if the issue remains?

Sounds possible. Do you have permissions to write a file in `C:\Users[UserName]\AppData\Local\Temp\`?

Yeah the app should work without the logo. Maybe `$loa

[2019-08-28 00:06] maoe commented on #95
A quick search of the error message turned up this link: https://wiki.gnome.org/Projects/Jhbuild/Issues/gtk%2B

It seems that this error message is not uncommon and `gdk-pixbuf-query-loaders` can be used to fix it.

[2019-08-28 00:35] maoe commented on #95
Implemented in https://github.com/haskell/ThreadScope/compare/master...maoe:optional-logo. Could you give it a try on your work computer?

[2019-08-28 02:38] chenyulue commented on #95
I have tried this and the issue remains. Also, I have the permission to write files in the system temporary directory, so the reason should be missing the `gdk-pixbuf loaders cache file` stated in the above link. BTW, how to get the `gdk-pixbuf loaders cache file` on windows? By msys2?

It still doesn't work. However, using `SomeException` instead of `IOException` works. Seems missing the cache fi

[2019-08-28 03:28] maoe commented on #95
Apparently pixbufNewFromFile uses propagateGError, which may throw glib's GError.

[2019-08-28 05:07] chenyulue commented on #95
@maoe Then which `Exception` [instance](https://hackage.haskell.org/package/base-4.12.0.0/docs/Control-Exception.html#t:Exception) should be chosen?

[2019-08-28 23:36] maoe commented on #95
It should be GError. I made a fix in the optional-logo branch. Could you fetch and try again?

[2019-08-28 23:38] maoe commented on #95
I'm not familiar with Windows and don't have a machine to test on but I guess it should be available in the MSYS2 shell.

[2019-08-29 01:25] chenyulue commented on #95
@maoe With `GError`, it works.

[2019-08-29 02:31] maoe commented on #95
Great! Thanks for checking. I’ll make a PR later.

[2019-08-29 05:53] Mikolaj commented on #95
You rock, guys. :)

[2019-11-29 11:37] HerbM opened #97 "ThreadScope doesn't build on Windows & no binaries on release page"
1. No Windows binaries available as indicated on the HaskelWiki ThreadScope page (and link):
[ThreadScope](https://wiki.haskell.org/ThreadScope) https://wiki.haskell.org/ThreadScope
...which points here:  [v0.2.11.1](https://github.com/haskell/ThreadScope/releases) https://github.com/haskell/ThreadScope/releases

2.  Building from source fails to build Cairo, GTK, glib and sometimes more. (see bel

[2019-11-29 17:59] maoe commented on #97
Do you have more detailed log messages? Also does the Windows binary for [v0.2.11](https://github.com/haskell/ThreadScope/releases/tag/v0.2.11) work?

[2019-11-30 00:00] HerbM commented on #97
I'll get the entire log for you.  Do I need to add switches for more verbose output?

Also, I didn't know about the v0.2.11 binaries so will try those next.

Thx.

[2019-11-30 00:18] maoe commented on #97
Probably `cabal build` with `-j1` is enough to see what's going.

Thanks,

[2019-11-30 02:04] HerbM commented on #97
Glasgow Haskell Compiler, Version 8.8.1, stage 2 booted by GHC version 8.6.2
cabal-install version 3.0.0.0
compiled using version 3.0.0.0 of the Cabal librarycabal v2-build --build-log=ThreadScopeLOG.txt --verbose=3

cabal v2-clean
cabal v2-build --build-log=ThreadScopeLOG.txt --verbose=3

[ThreadScopeLOG.txt](https://github.com/haskell/ThreadScope/files/3906643/ThreadScopeLOG.txt)

Thanks again f

[2019-12-02 07:24] maoe commented on #97
[code]
Apparently the cairo C library isn't available for some reason.

* How did you install cairo?
* Can you check if `pkg-config --modversion cairo` prints a proper version in your shell?

[2019-12-03 23:10] maoe opened #98 "AppVeyor builds are broken on master"
GHC 8.0 is failing due to https://github.com/gtk2hs/gtk2hs/issues/285. 8.2 and 8.4 are failing as follows:

[code]

See https://ci.appveyor.com/project/maoe/threadscope-44t6e/build/job/p4v7ub35q7rrwlx7 for the full log.

Related #97

[2019-12-04 03:04] maoe commented on #91
Related #98

[2019-12-04 03:06] maoe commented on #91
Actually it’s the same as #98. Closing this issue.

[2019-12-04 03:06] #91 closed

[2019-12-04 20:54] maoe opened #100 "Consider switching from gtk2hs to haskell-gi"
haskell-gi seems to be better maintained than gtk2hs. I think we should consider switching to haskell-gi.

There are some questions:

* Is cross-platform support of haskell-gi good enough? In particular how well is it supported on Windows?
* Is the extra runtime dependency (on GIRepository) a problem? Hopefully no.
* Are the bigger build dependencies an issue? Probably no.

The transition to haske

[2019-12-04 21:58] maoe commented on #98
I started calling for Windows maintainer(s) on reddit: https://www.reddit.com/r/haskell/comments/e66p4y/call_for_maintainers_threadscope_on_windows/

[2019-12-05 03:59] #95 closed

[2019-12-05 07:45] kakkun61 commented on #98
I got to be able to reproduce the same error on my machine.
I start to check the details.

[2019-12-05 14:00] kakkun61 commented on #98
# Interim report

The error seems a gtk2hs's problem. There is a PR for gtk2hs which is created just two days ago, https://github.com/gtk2hs/gtk2hs/pull/289. But this PR is not enough, and so I created a new PR toward the PR, https://github.com/PaulJohnson/gtk2hs/pull/1.

I made ThreadScope use the fixed commit (the diff is https://github.com/haskell/ThreadScope/compare/master...kakkun61:windows).

[2019-12-05 14:23] kakkun61 commented on #98
Ah, I found my mistake. I changed the dependency from gtk to gtk3, so `MIN_VERSION_gtk3` should be used.

[2019-12-06 01:01] maoe commented on #98
Thanks for the heads up. Nice to hear that you fixed the original issue.

As for the version macros, note that ThreadScope is currently written for gtk2. Porting it to gtk3 needs non-trivial amount of work and perhaps should be done with #100. So I think it's better to focus on the build issue and stick to gtk2 for now.

[2019-12-06 21:15] Mistuke commented on #98
This isn't an issue with ThreadScope. The current version of hsc2hs are broken on Windows. Because of this any haskell project using Windows is currently unstable until the next version is released. See https://github.com/haskell/hsc2hs/blob/master/changelog.md

[2019-12-07 10:18] Mistuke commented on #98
Ah no sorry this is a different issue, I didn't notice the first part of the error. But keep in mind that your builds will be unstable till the new version of hsc2hs.

[2019-12-08 04:58] kakkun61 commented on #98
I have been able to build the latest ThreadScope on Windows finally!

After the PR of https://github.com/gtk2hs/gtk2hs/pull/289 is merged and the gtk package and so on are released, we can build it.

If you build it now, use this cabal.project https://github.com/haskell/ThreadScope/compare/master...kakkun61:windows.

## TODO

- build on AppVeyor

[2019-12-08 19:34] maoe commented on #98
@kakkun61 Nice. Unfortunately in your windows branch glib doesn't seem to build on macOS though:

[code]

[2019-12-09 02:18] kakkun61 commented on #98
@maoe I don't know why, but this patch may fix it by any chance, https://github.com/gtk2hs/gtk2hs/pull/289#issuecomment-562409162.

[2020-02-10 00:00] emlautarom1 commented on #100
I was wondering if maybe dropping GTK completely in favor of an HTML output like **haddock** does is the way to go forward.
- Currently, the builds under the `release` section don't work for Windows (you need to get the GTK, Cairo and some other dependencies `.dll`s which are not bundled, and that also can fail easily).
- OSX is not very user-friendly (installing dependencies through `brew`, launc

[2020-02-10 01:02] Mikolaj commented on #100
@emlautarom1 : Would you use GHCJS to generate the JS that would be communicating with a native app somehow or do you have anything else in mind? Because, unlike the haddock output, this is an interactive app with a lot of heavy computation going on.

[2020-02-10 03:22] emlautarom1 commented on #100
Well, I've been thinking about some options on how to deal with that. First, I must clarify that I'm not an expert on the Haskell ecosystems (been tinkering with the language for the last year) so maybe I'm missing a better tool for the job. Currently, this is what I have in mind:

- Haskell just does not have a solid GUI toolkit like Java Swing, JavaFX or WPF (C#), so I would avoid any attempt on

[2020-02-10 08:35] simonmar commented on #100
I think the main issue with converting to HTML/JS would be ThreadScope's interactive zooming and navigation - it's not clear to me that you could make a web-based UI that performs well enough to support that. But I'd be happy to be proved wrong.

[2020-02-26 13:50] AndreasPK opened #102 "Hackage bounds prevent builds with ghc-8.8"
Trying with 8.8.1 on windows:

[code]

[2020-02-26 14:03] AndreasPK commented on #102
Compilation from source works.

Specifiying the threadscope for building from hackage gives a bounds error:

[code]

I suspect all that needs to be done is bump the bounds on hackage via revision. Since it builds fine when I override the bounds:

[code]

[2020-02-26 18:27] Mikolaj commented on #102
Good to know, thank you. Whom do I call to get the hackage bounds bumped via revision?

@maoe: do we have any release pending/imminent that could also include bumped bounds?

[2020-02-26 18:50] AndreasPK commented on #102
Maintainers have the ability to do revisions of the cabal file without reuploading. So do hackage trustees

[2020-02-26 19:52] Mikolaj commented on #102
Oh, great, I forgot, thank you.

[2020-03-01 12:11] Twonki commented on #102
I get the exact same error (from cabal install) with cabal 2.4.0 and ghc 8.6.5

[2020-03-01 12:36] Mikolaj commented on #102
If somebody would offer a PR with updated bounds, I will go and set them as Hackage revision ASAP. Unless current master is already fine?

[2020-03-01 12:41] maoe commented on #102
I thought there was an issue that caused a build failure on some platform. Let me check.

[2020-03-01 13:28] maoe commented on #102
https://github.com/gtk2hs/gtk2hs/issues/291 is the issue. I'll make a fix.

[2020-03-01 15:05] maoe commented on #102
Working on a fix at https://github.com/haskell/ThreadScope/pull/103. Will continue tomorrow.

[2020-03-03 22:21] maoe commented on #98
AppVeyor builds are fixed.

[2020-03-03 22:21] #98 closed

[2020-03-03 23:08] maoe commented on #102
Released v0.2.12 on Hackage and confirmed cabal install works on Linux and macOS.

@AndreasPK @Twonki Could you try again?

[2020-03-03 23:26] maoe opened #104 "GitHub Releases deployment from Travis doesn't work"
https://travis-ci.org/haskell/ThreadScope/builds/657975704

This build didn't push anything to [GitHub Releases](https://github.com/haskell/ThreadScope/releases/tag/v0.2.12). Maybe the deploy condition needs updating?

[2020-03-03 23:32] maoe commented on #104
Manually uploaded the linux and osx binaries for now.

[2020-03-04 13:26] maoe commented on #104
AppVeyor failed too: https://ci.appveyor.com/project/maoe/threadscope-44t6e/builds/31222198/job/ooj0qtkvodof8g8e#L273

[2020-03-04 18:53] Twonki commented on #102
@maoe having a new issue with `pango`.

It's rejecting pango-0.13 and below, and cannot find pango>=1.0 in my pkg-config database.

[2020-03-04 23:10] maoe commented on #102
@Twonki Do you have pango installed on your system?

[2020-03-04 23:42] AndreasPK commented on #102
New version works for me with both 8.6 and 8.8

[code]

[2020-03-05 00:51] maoe commented on #102
@AndreasPK Thanks for checking. Closing the issue.

@Twonki Please file a new issue if you still have the build issue.

[2020-03-05 00:51] #102 closed

[2020-03-06 07:43] #104 closed

[2020-03-23 16:31] Unselfish opened #108 "Windows "Index out of range.""
I'm having trouble opening event logs with the threadscope 0.2.11 Windows binary. Using GHC 8.6.5.

![image](https://user-images.githubusercontent.com/40940869/77338872-58c63100-6d01-11ea-88d4-df15eacb288b.png)

I followed the instructions here to set up. https://github.com/haskell/ThreadScope/issues/52. My threadscope.exe is in the `/bin` folder of gtk2 with all the .dll files.

[2020-03-23 23:47] maoe commented on #108
Do you get that error when opening an eventlog, or just starting threadscope without an eventlog? If the former is the case can you upload the eventlog file?

[2020-03-24 00:40] Unselfish commented on #108
The error occurs when opening an eventlog. I've only tried my own ones. Testing with `--test ch8` works.

[The event log.](https://github.com/haskell/ThreadScope/files/4372530/program.txt)

(Changed it to a text file for uploading)

[2020-03-24 08:04] mpickering commented on #100
`speedscope.app` does quite well processing big time profiles, there are some notes about the implementation in this [post](http://jamie-wong.com/post/speedscope/). It seems they are implementing a lot of the rendering directly in WebGL.

[2020-03-24 13:26] maoe commented on #108
Thanks for sharing your eventlog. I could reproduce the issue with just `ghc-event inc`. So it's not a threadscope or Windows-specific issue.

I've file an issue at the ghc-events issue tracker: https://github.com/haskell/ghc-events/issues/58

@Unselfish Do you have any other eventlog files that cause this issue?

[2020-03-24 16:23] Unselfish commented on #108
Yes. All the eventlogs I've made have this issue, with a different index per log.

[log2.txt](https://github.com/haskell/ThreadScope/files/4376409/log2.txt)
[log3.txt](https://github.com/haskell/ThreadScope/files/4376421/log3.txt)
[log4.txt](https://github.com/haskell/ThreadScope/files/4376429/log4.txt)

[2020-04-06 23:05] maoe commented on #97
Latest Windows binary is available at https://github.com/haskell/ThreadScope/releases/tag/v0.2.13. I edited the title accordingly.

[2020-05-25 16:08] maoe opened #112 "AppVeyor is failing"
Maybe it's time to give GitHub Actions a try.

[2020-06-04 08:10] djduke opened #114 "stack build failure due to Base version."
I have ghc 8.10.1 so surprised by:

Error: While constructing the build plan, the following exceptions were encountered:

In the dependencies for Cabal-2.0.1.1:
    containers-0.6.2.1 from stack configuration does not match >=0.4 && <0.6  (latest matching version is 0.5.11.0)
    time-1.9.3 from stack configuration does not match >=1.4 && <1.9  (latest matching version is 1.8.0.4)
needed due to th

[2020-06-04 14:49] maoe commented on #114
gtk2hs doesn't support GHC 8.10.1 yet so threadscope cannot build with 8.10.1 unfortunately. Can you try with GHC 8.8.3?

[2020-06-06 10:32] djduke commented on #114
It doesn't build with 8.8.3. Looking on hackage Its hard to see a combination of threadscope and ghc versions that do work
Apparently threadscope 0.1 built with ghc 8.0.1 but that was two years ago. I'm cautious abut regressing ghc version too are as (a) I might run into other old bugs; (b) it will make any performance measurements I make seem obsolete. Asa suggestion it would be helpful if hackag

[2020-06-06 11:47] maoe commented on #114
Could you please elaborate? What commands did you run on what platform and how did it fail etc? FYI the instructions to build threadscope are available at https://github.com/haskell/ThreadScope#building-from-source.

Also the latest binaries are available at https://github.com/haskell/ThreadScope/releases/tag/v0.2.13 so you don't have to build it yourself unless you develop something in threadscop

[2020-06-08 09:43] djduke commented on #114
Thanks. I started a fresh build from the git repo and made more progress. Howeever it looks lie te core issue isn't threadscope per se but Gtk(glib)

glib             > build
glib             > Preprocessing library for glib-0.13.8.0..
glib             > setup: Error in C header file.
glib             >
glib             > /usr/include/time.h:153: (column 17) [FATAL]
glib             >   >>> Syntax

[2020-06-08 10:40] maoe commented on #114
I see. That build failure is a known issue in gtk2hs. See https://github.com/gtk2hs/gtk2hs/issues/291. Hopefully it'll be fixed upstream soon but for now you can install gcc using homebrew and use [stack.osx.yaml](https://github.com/haskell/ThreadScope/blob/5bf453cf219cdfac18c6dbcffe012b3f3b6beeb6/stack.osx.yaml) to build the project.

See the [instructions](https://github.com/haskell/ThreadScope#

[2021-01-08 16:54] maoe commented on #112
Switched to GitHub Actions in #113.

[2021-01-08 16:54] #112 closed

[2021-02-18 19:43] djduke commented on #114
After another ghc upgrade 8.10.4 I've run into different issues with stack build for Threadscope, this time tge culprit is libiconv
build (exe)
Preprocessing executable 'threadscope' for threadscope-0.2.14..
Building executable 'threadscope' for threadscope-0.2.14..
Linking .stack-work/dist/x86_64-osx/Cabal-3.0.1.0/build/threadscope/threadscope ...
Undefined symbols for architecture x86_64:
  "_ic

[2021-02-19 15:48] maoe commented on #114
`stack --stack-yaml=stack.osx.yaml build` works for me on Big Sur with stack 2.5.1.

A quick google search turned up https://github.com/commercialhaskell/stack/issues/825, which looks quite similar.

[2021-02-22 19:11] djduke commented on #114
thank you for the suggestions  However neither

  *   install ihaskell, nor
  *   add extra-lib-dir:  to stack.yaml resolved the issue
  *
  *
  *   IIRC whenit last cropped up the solution ws to rebuild ghc and using
  *    config flags to set various iconv flags. However this is not an option for me at present due to various unrelated issues with building ghc. ore fundamentally it points as per

[2021-04-02 15:02] sternenseemann opened #118 "Too strict version bounds on ghc-events"
ThreadScope restricts ghc-events to >=0.13 && <0.16, but also compiles with >= 0.16. This should be relaxed, so installing from hackage is possible again.

[2021-06-14 14:23] kamkamkil opened #120 "Threadscope isn't working on Windows"
Trying to sue current version on Windows, when invoking from CLI i don't get any response, neither while using eventlog file nor with `./threadscope.exe --test ch8`
Windows version: 21H1
GHC version: 8.10.4
gtk2 version : 2.24.33-2

[2021-06-14 14:31] Mikolaj commented on #120
CI of our latest release

https://github.com/haskell/ThreadScope/actions/runs/473173253

tests 8.10.3 on Windows, but I doubt it's a regression in 8.10.4. Are you able to run any other GTK programs? A GTK demo of some kind? Are you able to run something like `strace` and `ldd` to check what libraries are expected and used by the binary and what's at the paths it mentions?

[2021-06-14 15:06] kamkamkil commented on #120
i was able to run gtk-demo, all logger apps i tried wasn't able to test treadscope because it wouldn't run at all.

[2021-06-14 15:18] kamkamkil commented on #120
downgrading to ghc 8.10.4 didn't help

[2021-06-14 15:27] Mikolaj commented on #120
That won't tell us much, but what's the exit code?

https://stackoverflow.com/questions/334879/how-do-i-get-the-application-exit-code-from-a-windows-command-line

[2021-06-14 15:40] kamkamkil commented on #120
if i understand correctly errorlevel is -1073741701

[2021-06-14 15:49] Mikolaj commented on #120
"The error you're seeing usually indicates that a runtime dll can't be found." If so, something akin to `ldd` would help or generally any Windows tool that tells you the paths of dlls the binary expects. Then check what's on those paths, I guess.

[2021-06-14 16:05] kamkamkil commented on #120
i think that all dependencies :
![obraz](https://user-images.githubusercontent.com/56363663/121923333-1b512780-cd3b-11eb-9800-37eaed8d527e.png)

[2021-06-16 09:12] kamkamkil commented on #120
it clearly can't find gtk library, it does have properly set up environment variables, and demo app does work.

[2021-06-16 11:09] Mikolaj commented on #120
As a workaround, can you copy the missing libraries to where the binary is?

BTW, how did you obtain the threadscope binary?

[2021-06-17 15:00] kamkamkil commented on #120
i got all binaries from Releases, putting libgtk in the same folder doesn't help, and i couldn't find other libraries.

[2021-06-17 15:11] Mikolaj commented on #120
I guess, you need to put all that are marked in red on your picture. If searching your whole computer doesn't turn them out, it means your installation of GTK is faulty. Perhaps the demo exercised only one of the libraries.

@maoe: perhaps we could include all libraries in the release zip? Or does GTK require some special configuration on and budling the dlls would not be enough. E.g., here I bund

[2021-06-17 17:28] Mikolaj commented on #120
@kamkamkil: e.g., perhaps the installer asked you to install or expose `libatk` via ticking some boxes, but you didn't? It's also possible they somehow changed the paths where they store the libraries vs January when TS was built.

[2021-06-17 21:15] kamkamkil commented on #120
after coping all the libs to folder  dependencies showed me that all the right libs are loaded, now i'm getting -1073741511 error. When trying to run exe i get new error: procedure deflatesetheader not found in libgio and inflateReset2 in libpng16-16. those are not found in dependencies.

[2021-06-18 15:04] Mikolaj commented on #120
Perhaps the version of GTK changed since the binary was compiled? Though in principle they should strive to keep backward compatibility. Doh, the logs for CI expired and so I can't find which version was used for the release.

Did you try reinstalling GTK? Can you describe the steps when installing, version, etc? Perhaps somebody can compare against own installation...

[2021-06-18 17:00] kamkamkil commented on #120
I dowlanded gtk from msys using command from readme, i installed and reinstaled it several times.

[2021-06-18 23:12] Mikolaj commented on #120
I see. Apologies. I'm afraid, I'm running out of ideas and it's not easy for me to replicate.

[2021-06-18 23:14] Mikolaj commented on #120
Also, I don't know which version of GTK was used for the release. I guess this can be somehow read from the binaries? Or perhaps you, @maoe, remember? Not very likely this is the cause, but maybe worth a try. Recompiling with newest GTK would be another avenue of attack.

[2021-06-19 11:16] kamkamkil commented on #120
Well you done what you could, and I'm grateful. I just installed VM and it is working no problem... I love using libs in windows ...

[2021-06-20 12:43] maoe commented on #120
Sorry for the late response.

@kamkamkil Could you write down your environment (version of Windows, type of shell, content of PATH variable etc), and exact commands you ran to install dependencies and to run threadscope?

[2021-06-20 12:51] maoe commented on #120
@Mikolaj I'm personally not eager to bundle runtime deps like GTK+ because of the reasons explained in https://github.com/haskell/ThreadScope/issues/94#issuecomment-501922782. If someone is willing to watch upstream development and maintain the bundled deps in a timely manner I wouldn't object though.

[2021-06-20 12:57] maoe commented on #120
I don't have access to my computer right now so I can't do much help but according to the screeshot in https://github.com/haskell/ThreadScope/issues/120#issuecomment-860805056, GTK+ related libraries seem to come from gnuplot, which looks strange.

The binary releases depend on GTK+ from mingw-w64 installed by msys2.

[2021-06-20 12:58] Mikolaj commented on #120
How about doing it they way in the link I provided, in CI? Do the libraries we need to include vary often? I know the transitive closure may cause problems, but at least the libraries we directly need are fixed and few, aren't they? Statically linking would be even better, because it automatically takes care of the indirect dependencies.

[2021-06-20 13:28] maoe commented on #120
I have no idea. GTK+ is a big project which  consists of many sub-projects and I'm not watching every development nor MSYS2 packaging cycles.

Yeah direct dependencies are fixed and not many. I think the removal of gtk-mac-integration was the last big change. Though I wouldn't be surprised if there were some upstream changes in the deps including transitive ones.

I agree that static linking is be

[2021-06-20 14:24] kamkamkil commented on #120
about my environment: i tested with both powershell ver 5, also cmd, and tried with gui.
My PATH is quite lenghty :
`
C:\Program Files\ImageMagick-7.0.11-Q16-HDRI;C:\Perl64\bin;C:\Users\kkedr\AppData\Roaming\ActiveState\bin;C:\Program Files\Common Files\Oracle\Java\javapath;C:\Program Files (x86)\IntelSWTools\system_studio_2020\OpenCL\sdk\bin\x64;C:\Program Files (x86)\IntelSWTools\system_studio_2

[2021-06-23 15:37] kamkamkil commented on #120
@maoe about wsl: it works without any problem, you need to be on windows dev channel but you can interact with windows file system without any problem so you can work on windows and just use threadscope in wsl

[2021-07-01 01:19] maoe commented on #120
Ah that's good to hear. Do you think we should endorse WSL for Windows users?

[2021-07-04 07:54] kamkamkil commented on #120
For now, wsl only support GUI application in windows insider program, which now means that you need to work on beta windows 11, but when GUI support will be officially supported then I would recommend that as a solution.

[2021-07-05 08:20] maoe commented on #120
I see. I guess we can update the instructions in the README for those who are willing to work with the beta, while keeping the MSYS2 the recommended way.

As for the PATH you posted, there seems to be no mingw64 path at the beginning. Could you try prepending mingw paths before running threadscope?

[code]

[2022-03-21 09:24] svenssonjoel opened #122 "ThreadScope does not build"
The attempt to build was made on Ubuntu 21.10 using stack and the current state of ThreadScope master branch. commit d70f45eb1d6a5dab13d4ea338d58d91389b77bd4

[code]

[2022-03-24 03:39] maoe commented on #122
https://github.com/gtk2hs/gtk2hs/issues/163 looks relevant. Could you try `LANG=C stack build` as suggested [here](https://github.com/gtk2hs/gtk2hs/issues/163#issuecomment-212704324)?

[2022-04-18 08:21] okamotonr commented on #122
I had same problem, and it works for me. Thank you!

[2022-07-08 02:06] RichardWarfield commented on #122
Same error encountered, and `LANG=C stack build` did not resolve it.  What *did* fix it was bumping the `gtk2hs-buildtools` version in `stack.yaml` to 0.13.8.3.